@import "varbiles";
@import "mixins";


body{
    margin: 0;
    padding: 0;
}
#main-nav{
    overflow:  hidden;
    background: $deepBlue;
    ul{
        width: 100%;
        display: flex;
        list-style-type: none;
        padding: 0;
        @include mq(600px){
            display: block;
        }
    }
    li{
       flex-grow: 1;
       padding: 16px;
       text-align: center;
       &:hover{
        background: lighten($deepBlue,5);
        }
    }
    a{
        color: $offWhite;
        text-decoration: none;
       
    }

}

section h1{
    font-size:  $sectionHeading;
    color: $deepBlue;
}

.lead-banner{
    @include banner;
    text-align: right;
}
.lessons-banner{
    @include banner;
    li{
        text-transform: uppercase;
        font-size: 20px;
        max-width: 500px;
        margin: 60px 0;
    }
}
#services{
    margin-bottom: 60px;
    height: 53vh;
    li{
        float: left;
        box-sizing: border-box;
        text-align: center;
        width: (100% /3);
    }
    img{
        width: 60%;
        margin: 20px 20%;
    }
    a{
        text-decoration: none;
        color: $deepBlue;
        font-weight: bold;
        &:hover{
            color:complement($deepBlue);
        }
    }
    ul{
        list-style-type: none;
        @include clearFix;
    }
}
#projects{
    ul{
        list-style-type: none;
    }
}

#projects li{

    @include grid(4,2%);
    img{
        width: 100%;
    }
}